{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        [
            "babel-plugin-inline-import",
            {
                "extensions": [".svg"]
            }
        ],
        [
            "module-resolver", 
            {
                "root": ["./src"],
                "alias": {
                    "screens": "./src/screens",
                    "components": "./src/components",
                    "navigation": "./src/navigation",
                    "utils": "./src/utils",
                    "test": "./__tests__"
                }
            }
        ]
    ]
}